{% extends 'dashboard/base.html' %}

<style>
.card-block {
    min-height: 300px;
}




</style>


{% block dashboard_title %}
Dashboard
{% endblock %}


<!-- Nav bar address -->
{% block navbar_address %}
{% endblock %}
<!-- Main Content -->
{% block content %}
<div class="card">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Book</h3>
            <a href="javascript:void(0);">View Library</a>
        </div>
    </div>
    <div class="card-body">

        <!-- /.d-flex -->
        <div class="container-fluid">
    <h2>Bootstrap Horizontal Scrolling with Flexbox</h2>
    <div class="row flex-nowrap">
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-3">
            <div class="card card-block">Card</div>
        </div>
    </div>
</div>
    </div>
</div>

<script>


</script>
{% endblock %}