{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block navbar_address %}
{% endblock navbar_address %}
{% block content %}

<!--<embed src="{% url 'user-get-book' 16 %}" type="application/pdf" height="700px" width="500">-->

<!--<embed src='{{books.pdf}}' style="width:718px; height:700px;" frameborder="0">-->

<style>
  .btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .top-bar-book {
    margin-left: 2%;
  }

#annotation-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

#annotation-layer > section {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

#annotation-layer > .linkAnnotation > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>

<div class="top-bar-book">
    <button class="btn" id="prev-page">
        <i class="fas fa-arrow-circle-left"></i>
        &ensp; Prev Page
    </button>
    <button class="btn" id="next-page">
        Next Page &ensp;<i class="fas fa-arrow-circle-right"></i>
    </button>
    <span class="page-info">
    Page <span id="page-num"></span> of <span id="page-count"></span>
  </span>
</div>

<div class="input-group mb-3 col-md-4 col-7" style="margin: auto">
    <input
            type="text"
            class="form-control"
            placeholder="Enter a word"
            aria-label="Enter a word"
            aria-describedby="basic-addon2"
            id="search_word"
    />
    <div class="input-group-append">
        <button
                class="btn btn-outline-secondary"
                type="button"
                style="box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)"
                onclick="search_online()"
                data-toggle="modal"
                data-target="#myModal"
        >
            Search
        </button>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="search-modal-title"
                        style="font-size: 38px; font-weight: bold"
                ></h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div>
                    <p style="font-size: 20px">Origin:</p>
                    <p class="search-modal-origin"></p>

                    <p style="font-size: 20px">Part of Speech:</p>
                    <p class="search-modal-part-of-speech"></p>

                    <p style="font-size: 20px">definition:</p>
                    <p class="search-modal-definition"></p>

                    <p style="font-size: 20px">Example:</p>
                    <p class="search-modal-example"></p>

                    <p style="font-size: 20px">Synonyms:</p>
                    <p class="search-modal-synonyms"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div
            style="
      margin-top: 50px;
      margin: 0 auto;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
      width: 60%;
    "
    >
        <canvas id="pdf-render" style="width: 100%"></canvas>
        <div id="annotation-layer"></div>

    </div>
    <div style="width: 30%; height: 300px">
        <!--        <button class="btn btn-primary" onclick="save_bookmark({{book.book_id}})">BookMark this page</button>-->
        <div class="dropdown show" style="margin-bottom: 20px">
            <a
                    class="btn btn-outlined&#45;&#45;primary dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
                BookMark
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for mark in bookMarks %}
                <a
                        class="dropdown-item"
                        href="{% url 'user-read-book' book.book_id mark.bookmark_page_number %}"
                >Page {{mark.bookmark_page_number}}</a>
                {% endfor %}
            </div>
        </div>
        <div>
            <button class="bookmark-false" title="Add Bookamrk">
                <img
                        src="{% static 'user_dashboard/image/bookmark-false.png' %}"
                        style="height: 100px"
                        onclick="save_bookmark({{book.book_id}})"
                />
            </button>

            <button class="bookmark-true" title="Remove Bookmark">
                <img
                        src="{% static 'user_dashboard/image/bookmark-true.png' %}"
                        style="height: 100px"
                        onclick="remove_bookmark({{book.book_id}})"
                />
            </button>

        </div>
        <h3 style="margin-top: 50px;"> Quick Notes</h3>
        <textarea style="margin-top: 00px;width: 350px; height: 400px; padding: 10px" id="book_quick_notes"></textarea>
        <div>
            <button class="btn" style="margin-top: 10px;background: grey; width:auto" onclick="save_quick_notes({{book.book_id}})"> Save</button>
        </div>
    </div>

</div>


<!-- Scrollable modal -->

<!--<div id="site-content">-->
<!--    <button id="open" type="button">Open Modal</button>-->
<!--</div>-->
<script>
document.addEventListener("DOMContentLoaded", function() {
    var bookmarks = [];
    var quick_notes = [];
    $.ajax({
        url: '/get_bookmark',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            console.log(data);
            bookmarks = data;
            setTimeout(function() {
                console.log('bookmarks', bookmarks);
                if (bookmarks.length == 0) {
                    $('.bookmark-true').hide();
                }
                for (let i = 0; i < bookmarks.length; i++) {
                    if ($('#page-num').text() == bookmarks[i].fields.bookmark_page_number) {
                        console.log('insert');
                        $('.bookmark-true').show();
                        $('.bookmark-false').hide();

                        break;
                    } else {
                        $('.bookmark-true').hide();
                        $('.bookmark-false').show();
                    }
                }
            }, 2000);
        },
        failure: function(data) {
            console.log(data)
        }
    });

    $.ajax({
        url: '/get_quick_notes',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            console.log(data);
            quick_notes = data;
            setTimeout(function() {
                console.log('quick_notes', quick_notes);
                for (let i = 0; i < quick_notes.length; i++) {
                    console.log('quick_notes===', quick_notes[i].fields.QuickNote_page_number);
                    console.log('page-num===', $('#page-num').text());
                    if ($('#page-num').text() == quick_notes[i].fields.QuickNote_page_number) {
                        console.log('quickNotes - insert');
                        $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
                        break;
                    }
                }
            }, 2000);
        },
        failure: function(data) {
            console.log(data)
        }
    });


});

function save_quick_notes(book_id) {
    let page = $('#page-num').text();
    let url_save_quick_note = '/save_quick_note/' + book_id + '/' + page;
    $.ajax({
        url: url_save_quick_note,
        type: 'get',
        data: {'data': $('#book_quick_notes').val()},
        success: function(data) {
            alert('Saved');
        },
        failure: function(data) {}
    });
}
var quick_notes = [];

$.ajax({
    url: '/get_quick_notes',
    type: 'get',
    dataType: 'json',
    success: function(data) {
        console.log(data);
        quick_notes = data;
        setTimeout(function() {
            console.log('quick_notes', quick_notes);
            for (let i = 0; i < quick_notes.length; i++) {
                if ($('#page-num').text() == quick_notes[i].fields.QuickNote_page_number) {
                    console.log('quickNotes - insert');
                    $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
                    break;
                }
            }
        }, 2000);
    },
    failure: function(data) {
        console.log(data)
    }
});


var bookmarks = [];

$.ajax({
    url: '/get_bookmark',
    type: 'get',
    dataType: 'json',
    success: function(data) {
        console.log(data);
        bookmarks = data;
        for (let i = 0; i < bookmarks.length; i++) {
            if ($('#page-num').text() == bookmarks[i].fields.bookmark_page_number) {
                console.log('insert');
                $('.bookmark-true').show();
                $('.bookmark-false').hide();
                break;
            } else {
                $('.bookmark-true').hide();
                $('.bookmark-false').show();
            }
        }
    },
    failure: function(data) {
        console.log(data)
    }
});

let url_pdf = null;
$.ajax({
    url: '{% url "user-get-book" 16 %}',
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        url_pdf = data;


        let pdfDoc = null,
            pageNum = {{page_number}},
            pageIsRendering = false,
            pageNumIsPending = null;

        const scale = 1.5,
            canvas = document.querySelector('#pdf-render'),
            ctx = canvas.getContext('2d');

        // Render the page
        const renderPage = num => {
            pageIsRendering = true;

            // Get page
            pdfDoc.getPage(num).then(page => {
                // Set scale
                const viewport = page.getViewport({
                    scale
                });
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx).promise.then(() => {
                    pageIsRendering = false;

                    if (pageNumIsPending !== null) {
                        renderPage(pageNumIsPending);
                        pageNumIsPending = null;
                    }
                });

                // Output current page
                document.querySelector('#page-num').textContent = num;
            });
        };

        // Check for pages rendering
        const queueRenderPage = num => {
            if (pageIsRendering) {
                pageNumIsPending = num;
            } else {
                renderPage(num);
            }
        };

        // Show Prev Page
        const showPrevPage = () => {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        };

        // Show Next Page
        const showNextPage = () => {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        };

        // Get Document
        pdfjsLib
            .getDocument(url_pdf)
            .promise.then(pdfDoc_ => {
                pdfDoc = pdfDoc_;

                document.querySelector('#page-count').textContent = pdfDoc.numPages;

                renderPage(pageNum);
            })
            .catch(err => {
                // Display error
                const div = document.createElement('div');
                div.className = 'error';
                div.appendChild(document.createTextNode(err.message));
                document.querySelector('body').insertBefore(div, canvas);
                // Remove top bar
                document.querySelector('.top-bar').style.display = 'none';
            });

        // Button Events
        document.querySelector('#prev-page').addEventListener('click', showPrevPage);
        document.querySelector('#next-page').addEventListener('click', showNextPage);
    },
    failure: function(data) {
        alert('Got an error dude');
    }
});

function search_online() {
    let word = $('#search_word').val();
    $.ajax({
        url: 'https://api.dictionaryapi.dev/api/v2/entries/en/' + word,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            $('.search-modal-title').text($('#search_word').val());
            $('.search-modal-origin').text(data[0].origin);
            $('.search-modal-part-of-speech').text(data[0].meanings[0].partOfSpeech);
            $('.search-modal-definition').text(data[0].meanings[0].definitions[0].definition);
            $('.search-modal-example').text(data[0].meanings[0].definitions[0].example);
            $('.search-modal-synonyms').text(data[0].meanings[0].definitions[0].synonyms);


            $(".btn").click(function() {
                $("#myModal").modal('show');
            });
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
}

function save_bookmark(book_id) {
    let page = $('#page-num').text();
    let url_save_bookmark = '/save_bookmark/' + book_id + '/' + page;

    $.ajax({
        url: url_save_bookmark,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            alert('Saved');
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
}

function remove_bookmark(book_id) {
    let page = $('#page-num').text();
    let url_save_bookmark = '/remove_bookmark/' + book_id + '/' + page;

    $.ajax({
        url: url_save_bookmark,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            alert('Removed');
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });

}



$('#next-page').click(function() {

    for (let i = 0; i < bookmarks.length; i++) {
        if (parseInt($('#page-num').text()) + 1 == bookmarks[i].fields.bookmark_page_number) {
            $('.bookmark-true').show();
            $('.bookmark-false').hide();
            break;
        } else {
            $('.bookmark-true').hide();
            $('.bookmark-false').show();
        }
    }

    for (let i = 0; i < quick_notes.length; i++) {
        console.log($('#page-num').text() + 1 , quick_notes[i].fields.QuickNote_page_number)

        if (parseInt($('#page-num').text()) + 1 == quick_notes[i].fields.QuickNote_page_number) {
            $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
            break;
        } else {
            $('#book_quick_notes').text('');
        }
    }

});

$('#prev-page').click(function() {

    for (let i = 0; i < bookmarks.length; i++) {
        if (parseInt($('#page-num').text()) - 1 == bookmarks[i].fields.bookmark_page_number) {
            console.log('insert');
            $('.bookmark-true').show();
            $('.bookmark-false').hide();

            break;
        } else {
            $('.bookmark-true').hide();
            $('.bookmark-false').show();

        }
    }
    for (let i = 0; i < quick_notes.length; i++) {
        console.log($('#page-num').text() - 1 , quick_notes[i].fields.QuickNote_page_number)
        if (parseInt($('#page-num').text()) - 1 == quick_notes[i].fields.QuickNote_page_number) {
           $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
            break;
        } else {
           $('#book_quick_notes').text('');
        }
    }

});


</script>

{% endblock %}
