{% extends 'user_dashboard/base.html' %}
{% block navbar_address %}
<li class="breadcrumb-item active">Sign Up</li>
{% endblock navbar_address %}

{% block content %}
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-xs-2 col-lg-3 mb--30 mb-lg--0"></div>
            <div class="col-sm-8 col-md-6 col-xs-8 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form action="#">
                    <div class="login-form">
                        <h4 class="login-title login-headings">Sign Up</h4>
                        <p class="login-headings">Create your account or <a href="login-register.html">sign in</a> if
                            you already have an account.</p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">First Name</label>
                                <input class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter first name">
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Last Name</label>
                                <input class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter last name">
                            </div>
                            <div class="col-12 mb--20">
                                <label for="email">Email</label>
                                <input class="mb-0 form-control" type="email" id="email"
                                       placeholder="Enter Your Email Address Here..">
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Password</label>
                                <input class="mb-0 form-control" type="password" id="password"
                                       placeholder="Enter your password">
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Repeat Password</label>
                                <input class="mb-0 form-control" type="password" id="repeat-password"
                                       placeholder="Repeat your password">
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="btn btn-outlined">Register</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form action="./">
                    <div class="login-form">
                        <h4 class="login-title">Returning Customer</h4>
                        <p><span class="font-weight-bold">I am a returning customer</span></p>


                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Full Name</label>
                                <input class="mb-0 form-control" type="text" id="name"
                                    placeholder="Enter your full name">
                            </div>
                            <div class="col-12 mb--20">
                                <label for="email">Email</label>
                                <input class="mb-0 form-control" type="email" id="email" placeholder="Enter Your Email Address Here..">
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Password</label>
                                <input class="mb-0 form-control" type="password" id="password" placeholder="Enter your password">
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Repeat Password</label>
                                <input class="mb-0 form-control" type="password" id="repeat-password" placeholder="Repeat your password">
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="btn btn-outlined">Register</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</main>{% endblock %}